.header{
    background-color: #F6F7F8;
}

.bar{
    background-color: #DAD8D6;
    width: 74.21875vw;
    height: 0.50vh;
    margin-top: 1.25rem;
}
.determine{
    margin-left: -0.625rem;
}
.this{
    margin-top: 1.25rem;
    color:#344854;
}
.thisbar{
    background-color: #DAD8D6;
    width: 74.21875vw;
    height: 0.34vh;
    margin-top: 1.25rem;
}

.meet{
    color: #344854;
    margin-top: 1.25rem;
    font-size: 1.375rem;
}
.hair{
    text-align: justify;
    padding-top: 0.625rem;
    font-weight: 400;
    color: #344854;
}
.oneimage{
    width: 60vw;
}
.pria{
    color: #344854;
    padding-top: 0.625rem;
    font-weight: 400;
    text-align: justify;
}

.barthree{
    width: 62.5vw;
    height: 0.34vh;
    margin-left: 9.375rem;
    margin-bottom: 1.25rem;
    background-color: #DAD8D6;
   
}

.carouselstartbar{
    width: 41.60375vw;
    height: 1px;
    background-color: #DAD8D6;
    margin-top: 3.125rem;
}

.accordion-collapse {
    border: 0;
}
.accordion-button {
    padding: 0px;
    font-weight: bold;
    border: 0;
    background-color:#F6F7F8;
    font-size: 18px;
    color: #333333;
    text-align: left;
    border-bottom: 1px solid #DAD8D6;
}
.accordion-button:focus {
    box-shadow: none;
    border: none;
}
.accordion-button:not(.collapsed) {
    background: none;
    color: #000;
}
.accordion-body {
    padding: 15px;
    background-color: #F6F7F8;
}
.accordion-button::after {
    width: auto;
    height: auto;
    content: "+";
    font-size: 40px;
    background-image: none;
    font-weight: 100;
    color: #6F8BC3;
    transform: translateY(-4px);
    
}
.accordion-button:not(.collapsed)::after {
    width: auto;
    height: auto;
    background-image: none;
    content: "-";
    font-size: 48px;
    transform: translate(-5px, -4px);
    transform: rotate(0deg);
    
}
.accordion-header{
    background-color: #F6F7F8 !important;
}
.collapseaccordian{
    margin-left: -36.25rem;
    margin-top: -2.188rem;
}


.lastlinkitem{
    margin-top: 3.125rem;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 0.938rem;
    padding-left: 3.125rem;
    padding-top: 2.5rem;

}
#lastone{
    margin-right: 1.563rem;
}

#content{
    text-decoration: none;
}
@media screen and (max-width:1000px){
    .barthree{
        margin-left: 0;
        width: auto;
    }
    .collapseaccordian{
        margin-left: 0;
    }
    .carouselstartbar{
        width: auto;

    }
    .lastlinkitem{
        padding-top: 0.625rem;
        padding-bottom:  0.625rem;
    }
    #lastone{
        margin-left: -0.625rem;
        margin-right: 1.563rem;
    }
}